<nav class="flex gap-6 flex-col justify-between">
  <h1 class="text-2xl font-bold">Gêneros</h1>
  <div class="flex gap-4 flex-1">
    <button mat-icon-button (click)="scroll(-200)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <ul
      class="flex gap-4 flex-grow flex-nowrap overflow-hidden flex-1 mb-4"
      #carousel
    >
      @for (genre of genres; track $index) {
      <li>
        <a
          [routerLink]="[genre.id, 1]"
          routerLinkActive
          #rla="routerLinkActive"
        >
          @if (rla.isActive) {
          <button mat-flat-button color="accent">{{ genre.name }}</button>
          } @else {
          <button mat-stroked-button color="accent">{{ genre.name }}</button>
          }
        </a>
      </li>
      }
    </ul>
    <button mat-icon-button (click)="scroll(200)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</nav>
<article>
  <router-outlet></router-outlet>
</article>
