<article class="flex gap-6 flex-col justify-between">
  <h1 class="text-2xl font-bold">{{ title }}</h1>
  <div class="flex flex-wrap gap-4 mx-auto">
    @for (movie of movies; track $index) {
    <app-movie-card
      [movie]="movie"
      (clickCard)="detailCard($event)"
    ></app-movie-card>
    }
  </div>
  <mat-paginator
    [length]="totalMovies"
    [pageSize]="19"
    [pageSizeOptions]="[19]"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</article>
